@keyframes next-animation
    0%
        width: 18px
        height: 28px
        left: 2.5px
    25%
        width: 13px
        height: 23px
    50%
        left: -20px
        opacity: 1
    51%
        opacity: 0
    75%
        opacity: 0
        left: 20px
    85%
        opacity: 1
        left: 5px
    // 100%

@keyframes next-vertical-week-animation
    0%
        width: 18px
        height: 28px
        top: 2.5px
    25%
        width: 13px
        height: 23px
    50%
        top: -17.5px
        opacity: 1
    51%
        opacity: 0
    75%
        opacity: 0
        top: 17.5px
    85%
        opacity: 1
        top: 2.5px

@keyframes previous-animation
    0%
        width: 18px
        height: 28px
        right: 2.5px
    25%
        width: 13px
        height: 23px
    50%
        right: -20px
        opacity: 1
    51%
        opacity: 0
    75%
        opacity: 0
        right: 20px
    85%
        opacity: 1
        right: 5px

@keyframes previous-vertical-week-animation
    0%
        width: 18px
        height: 28px
        bottom: 2.5px
    25%
        width: 13px
        height: 23px
    50%
        bottom: -17.5px
        opacity: 1
    51%
        opacity: 0
    75%
        opacity: 0
        bottom: 17.5px
    85%
        opacity: 1
        bottom: 2.5px

#nextLight, #nextDark, #previousLight, #previousDark
    user-select: none
    border-radius: 22.5px
    // margin: 5px
    transition: all 0.25s
    width: 13px
    height: 23px
    position: absolute
    z-index: 0
    &:not(.nextAnimation):hover
        &:not(.previousAnimation):hover
            &:not(.nextVerticalWeek)
                cursor: pointer
                transition: all 0.25s
                width: 18px
                right: 2.5px
#nextLight, #nextDark
    left: 5px
    &:not(.nextVerticalWeek)
        &:hover
            left: 2.5px
#previousLight, #previousDark
    right: 5px

.nextAnimation
    &:not(.nextVerticalWeek)
        animation-name: next-animation
        animation-duration: 250ms
        animation-timing-function: ease
.previousAnimation
    &:not(.nextVerticalWeek)
        animation-name: previous-animation
        animation-duration: 250ms
        animation-timing-function: ease

.nextVerticalWeek,
.previousVerticalWeek
    transform: rotate(90deg)
    &:not(.nextAnimationVerticalWeek):hover
        &:not(.previousAnimationVerticalWeek):hover
            cursor: pointer !important
            transition: all 0.25s !important
            width: 18px !important
            right: auto
.nextVerticalWeek
    left: auto !important
    top: 0
.previousVerticalWeek
    right: auto !important
    bottom: 0
.nextAnimationVerticalWeek
    animation-name: next-vertical-week-animation
    animation-duration: 250ms
    animation-timing-function: ease
.previousAnimationVerticalWeek
    animation-name: previous-vertical-week-animation
    animation-duration: 250ms
    animation-timing-function: ease
