@import "variables"

#calendarLight, #calendarDark
    width: 475px
    min-height: 150px
    background: $dark-theme-calendar-background-color
    border-radius: 22.5px
    display: grid
    align-items: center
    justify-content: center
    grid-auto-flow: column
    gap: 5px
    padding: 5px
    position: relative
    overflow: hidden
    z-index: 0

#calendarLight
    background: $light-theme-calendar-background-color
    box-shadow: 10px 10px 20px #e6e6e6, -10px -10px 20px #ffffff

#calendarMainDark, #calendarMainLight
    width: 140px
    height: 140px
    border-radius: 22.5px
    background: $light-theme-main-background
    padding: 5px
    display: grid
    grid-template-rows: repeat(7, 1fr)
    align-items: center
    justify-content: space-evenly
    grid-gap: 1px
    direction: rtl
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    z-index: 2
#calendarMainDark
    background: $dark-theme-main-background

#calendarHeaderDark, #calendarHeaderLight
    width: 140px
    height: 140px
    border-radius: 22.5px
    background: $light-theme-main-background
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    z-index: 2
    #calendarHeaderDetailsLight, #calendarHeaderDetailsDark
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
        > *
            color: $light-theme-today-and-selected-text-and-texts-color
    #calendarHeaderDetailsDark > *
        color: $dark-theme-today-and-selected-text-and-texts-color

    #calendarHeaderJalali
        margin: 0px
        text-align: center
        font-size: 17.5px
        font-weight: bold
    #calendarHeaderMiladi,
    #calendarHeaderQamari
        margin: 0px
        text-align: center
        font-size: 10px
#calendarHeaderDark
    background: $dark-theme-main-background

#calendarFooterDark,#calendarFooterLight
    width: 140px
    height: 140px
    border-radius: 22.5px
    background: $light-theme-main-background
    margin: 0
    overflow-y: auto
    display: flex
    align-items: flex-end
    justify-content: flex-start
    flex-direction: column
    padding: 5px
    scrollbar-gutter: 10px
    position: relative
    z-index: 2
    &::-webkit-scrollbar
        width: 5px
        background: transparent
    &::-webkit-scrollbar-thumb
        background-color: #757575
        border-radius: 3px
        width: 3px
        border: 1px solid $light-theme-main-background
    &::-webkit-scrollbar-track
        background: $light-theme-main-background
    &::-webkit-scrollbar-button
        background: transparent
#calendarFooterDark
    background: $dark-theme-main-background
    &::-webkit-scrollbar-thumb
        border: 1px solid $dark-theme-main-background
    &::-webkit-scrollbar-track
        background: $dark-theme-main-background

.dayLight, .dayDark
    border: none
    padding: 0
    background: none
    cursor: pointer
    display: inline-block
    margin: 0
    font: inherit
    text-align: inherit
    color: inherit

    width: 100%
    height: 15px
    display: grid
    align-items: center
    justify-items: center
    grid-auto-flow: column
    padding: 0 2.5px
    gap: 8px
    color: $light-theme-today-and-selected-text-and-texts-color
    border-radius: 22.5px
    &:hover:not(.disabledLight), &:hover:not(.disabledDark)
        background: $light-theme-selected-background-color
        cursor: pointer
        transition: all 0.25s

    &:active:not(.disabledLight), &:active:not(.disabledDark)
        background: $light-theme-active-background-color
        transition: all 0.05s

.dayDark
    color: $dark-theme-today-and-selected-text-and-texts-color
    &:hover:not(.disabledDark)
        background: $dark-theme-selected-background-color

    &:active:not(.disabledDark)
        background: $dark-theme-active-background-color

.jalali ,
.miladi,
.qamari
    text-align: center
    margin: 0
    height: 15px
    width: 15px
    font-size: 12px
    display: flex
    align-items: center
    justify-content: center
.jalali
    font-weight: bold

.secandaryDay
    display: grid
    grid-auto-flow: column
    font-size: 12.5px
    justify-content: space-evenly
    width: 95%

.dayLight
    &:disabled
        >*
            color: $light-theme-disabled-text-color
        &:hover
            cursor: default
            background: none

.dayDark
    &:disabled
        > *
            color: $dark-theme-disabled-text-color
        &:hover
            cursor: default
            background: none
        &:active
            cursor: default
            background: none

.disabledDark
    width: 95%
    color: $dark-theme-disabled-text-color

#todayLight
    background: $dark-and-light-theme-today-background-color
    border-radius: 22.5px
    >*
        color: $light-theme-calendar-background-color

#todayDark
    background: $dark-and-light-theme-today-background-color
    border-radius: 22.5px

.eventsLight, .eventsDark
    direction: rtl
    color: $light-theme-today-and-selected-text-and-texts-color
    margin: 0
    padding-block: 2.5px
    font-size: 12.5px

.eventsDark
    color: $dark-theme-today-and-selected-text-and-texts-color

.holiday
    > *
        color: $dark-and-light-theme-holiday-text-color !important

.todayHoliday
    background: $dark-and-light-theme-holiday-text-color !important

.daysOfWeekLight, .daysOfWeekDark
    color: $light-theme-today-and-selected-text-and-texts-color
    margin: 0
    text-align: start
    width: 45px
    font-size: 12px
    height: 15px
    display: flex
    align-items: center
    justify-content: flex-start

.daysOfWeekDark
    color: $dark-theme-today-and-selected-text-and-texts-color

#noEventLight, #noEventDark
    text-align: center
    color: $light-theme-today-and-selected-text-and-texts-color
    margin: 0
    font-size: 10px
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: center

#noEventDark
    color: $dark-theme-today-and-selected-text-and-texts-color

.selectedLight
    background: rgba(73, 56, 255, 0.1)
    background: $light-theme-selected-background-color

.selectedDark
    background-color: $dark-theme-selected-background-color

.redText
    color: $dark-and-light-theme-holiday-text-color
    white-space: pre-wrap
#backToTodayLight, #backToTodayDark
    cursor: pointer
    color: $light-theme-today-and-selected-text-and-texts-color
    margin: 0px
    width: 60px
    font-size: 10px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    border-radius: 25px
    padding: 0.5px
    font-weight: bold
    transition: all 0.25s

#backToTodayDark
    color: $dark-theme-today-and-selected-text-and-texts-color

#backToTodayLight:hover
    background: $light-theme-selected-background-color
#backToTodayLight:active
    background: $light-theme-active-background-color
#backToTodayDark:hover
    background: $dark-theme-selected-background-color
#backToTodayDark:active
    background: $dark-theme-active-background-color

#backToTodayIconLight, #backToTodayIconDark
    margin-right: 5px
    width: 17.5px
    height: 17.5px

.backToTodayDisabledLight
    cursor: default !important
    background-color: $light-theme-selected-background-color
.backToTodayDisabledDark
    cursor: default !important
    background-color: $dark-theme-selected-background-color
